<div class="centered">
<pre>
        oo _,       
      _((-'_/      
      /      "",    
    ,',O`  | #  ", 
  ,'    __/-.   # "        
(;_,--'     \     "        
              \ #   ",      
              \   #  "    
                \      "    
                \ #  # ", 
                  \     # ",
                  \  #     ",
                    \  #  #   ",
                    \         #",
                      \#    #     ",_
                      \  #    #     `--.__
                        \     #    #     # `--._
                        |#      #          #    `-.
                      ;   #       #   #        # \
                      :     #   #       #   #      \
                      :  #    #      #     #  /  #  :
                      : # |  #               /    # |\
                      :   :        |#     # | #     |\\
                        \ # \   #   |  #     |      #| \\
                        \  #\#  #  |       ,|  #    | ||
                          |   \     |# __,.' \    #  | ||
                          | #/ |#  /-'' `. #  \     #; ||
                          |  | |  |       \  # \ #  /  ||
                          |  | | #|        |  | |  /   ||
                          |# | |  |        |  | |# |   ;; 
                          |  | | #|        |# | |  |  .;;.
                          |  | |  |        |  | | #|  ;;;;
                          | #| |  |        | #| |  |  ;;;;
                          |  | |# |        (  ) (  )  ;;;;
                          (  ) (  )        | /  | /   
                          \  |  \ |        | |  | |
</pre>
<app-giraffe-legs></app-giraffe-legs>
</div>
