<pre *ngFor="let segment of segments">
	                  |# | |  |        |  | |# |  
	                  |  | | #|        |# | |  |  
	                  |  | |  |        |  | | #|  
	                  | #| |  |        | #| |  |  
	                  |  | | #|        |# | |  |  
	                  |  | |  |        |  | | #|  
	                  | #| |  |        | #| |  |
	                  |# | |  |        |  | |# |  
	                  |  | | #|        |# | |  |  
	                  |  | |  |        |  | | #|
 	                  |  | |# |        (  ) (  )  
	                  (  ) (  )        |  / |  /   
	                  \  |  \ |        |  | |  |
	                  |# | |  |        |  | |# |  
	                  | #| |  |        | #| |  |
	                  |# | |  |        |  | |# |  
	                  |  | | #|        |# | |  |  
	                  |  | |  |        |  | | #|  
</pre>
